body,
html {
    overflow-x: hidden
}

header {
	/*border: 1px dashed red;*/
}

#navegacao-principal button:focus {
	outline: none;
}

.carousel-indicators {
    bottom: 95px;
}

.carousel-indicators li {
	width: 11px;
	height: 11px;
	border-radius: 10px;
    margin: 0 5px;
}

.carousel-indicators li.active::before {
    content: "";
    height: 19px;
    width: 19px;
    border-radius: 20px;
    border: 2px solid #fff;
    margin-top: 6px;
    margin-left: -4px;
}

header * {
	transition: 0.4s;
}

body {
    font-family: 'Sen', sans-serif;
    font-weight: 500
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

a:link,
a:visited {
    color: #fff;
    transition: 0.3s
}

a:hover,
a:active {
    color: #9bf0e1;
    transition: 0.3s
}

body {
    /*background: url(../img/png/capa2.png), url(../img/png/ruido.png), linear-gradient(45deg, rgba(234, 37, 73, 0.8), rgba(137, 22, 212, 0.8)) center;*/
    background: 
        linear-gradient(45deg, rgba(234, 37, 73, 0.3), rgba(137, 22, 212, 0.3)),
        url(../img/png/capa.png),
        url(../img/png/ruido.png),
        linear-gradient(45deg, rgba(234, 37, 73, 0.8), rgba(137, 22, 212, 0.8));
    background-attachment: fixed
}

#navegacao-principal {
    background: rgba(20, 20, 20, 0.7);
    font-weight: bold !important
}

#navbar-estilo {
    padding: 8px 0
}

#logo {
    font-weight: bold
}

#logo:hover {
    color: #fff
}

#botao-nav-principal a {
    font-weight: 500
}

.nav-item .second-link {
    color: #BEBEBE
}

.nav-item .second-link:hover {
    color: #9bf0e1
}

#botao-responsivo1,
#botao-responsivo2 {
    color: #fff;
    border: none;
    font-size: 1.5em;
    padding: 5px 8px
}

#botao-responsivo2 {
    font-weight: normal;
    font-size: 3em;
    position: absolute;
    top: 10px;
    right: 20px
}

#icone-reponsivo {
    display: block;
    padding: 10px 0px;
    margin: 0
}

.icons-bar {
    display: block;
    height: 3px;
    width: 22px;
    border-radius: 2px;
    background-color: #fff;
    margin-top: 4px;
    margin: 4px
}

.icons-bar1 {
    transform: rotate(-45deg);
    transition: 0.3s;
    margin: 0;
    position: relative;
    top: 3px
}

.icons-bar2 {
    display: none
}

.icons-bar3 {
    transform: rotate(45deg);
    margin: 0
}

header {
    height: 560px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000
}

.title {
    font-weight: bold;
    color: #fff
}

#free {
    font-size: 0.9em;
    background: #7c25f8;
    border: 2px solid #7c25f8;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 60px;
    padding: 5px 40px
}

#free:hover {
    background: #3E1874;
    border: 2px solid #3E1874;
    color: #fff;
    text-decoration: none;
    transition: 0.3s
}

#premium {
    font-size: 0.9em;
    border: 2px solid #fff;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 60px;
    padding: 5px 40px
}

#premium:hover {
    background: #fff;
    color: #111;
    text-decoration: none;
    transition: 0.3s
}

#saiba-mais {
    position: absolute;
    bottom: 30px
}

#saiba-mais a {
    border-bottom: 1px solid #9bf0e1;
    padding-bottom: 3px;
    font-size: 0.9em;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: #9bf0e1;
    text-transform: uppercase
}

#saiba-mais a:hover {
    text-decoration: none;
    opacity: 0.8
}

#primeira-secao {
    position: relative;
    background: #fff;
    padding: 150px 0
}

#primeiro-conteudo {
    height: 100%
}

#pr-conteudo {
    display: flex
}

#pr-conteudo-item-1 div {
    box-shadow: 0 0 5px -2px #111
}

#pr-conteudo-item-2 {
    padding: 20px 0
}

#primeira-secao h2 {
    font-size: 2.8em;
    color: #7c25f8;
    font-weight: bold;
    margin-bottom: 30px
}

#primeira-secao h3 {
    font-size: 2em;
    color: #7c25f8;
    font-weight: bold
}

#segunda-secao {
    color: #fff;
    font-weight: bold;
    position: relative;
    padding: 130px 0
}

#segunda-secao h2 {
    font-size: 2.8em;
    margin-bottom: 30px;
    font-weight: bold
}

#segunda-secao h3 {
    color: #9bf0e1;
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold
}

#segunda-secao p {
    font-size: 1.1em;
    letter-spacing: 0.5px;
    font-weight: normal
}

#celulares {
    transform: rotate(30deg)
}

#dupla-iphone {
    margin: 0 10px
}

#iphone-2 {
    margin: 0 0 10px 0
}

#iphone-3 {}

#iphone-4 {
    margin:
}

#teceira-secao {
    position: relative;
    color: white;
    background: #232323;
    padding-top: 64px;
    padding-bottom: 36px;
    text-align: center
}

.title-2 {
    font-weight: bold;
    color: #fff;
    font-size: 3em;
    margin: 40px 0
}

#lista ul {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 40px;
    font-weight: bold
}

#lista ul li {
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px
}

#lista ul li a {
    text-decoration: underline
}

#lista span {
    color: #7c25f8
}

#quarta-secao {
    color: #fff;
    padding: 60px 0 10px;
    position: relative
}

#quarta-secao .title {
    margin-bottom: 20px
}

#quarta-secao .divisor {
    height: 2px;
    background: #fff;
    margin: 20px 0;
    border-radius: 3px
}

#quarta-secao p {
    margin: 0;
    letter-spacing: 0.05em;
    line-height: 1.5em
}

#quarta-secao h3 {
    font-size: 2.6em;
    font-weight: bold
}

#quarta-secao h5 {
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: bold
}

#quarta-secao .flex-4 .mes {
    font-size: 0.7em
}

.cor-azul-clara {
    color: #9bf0e1
}

#div-free {
    margin-top: 20px;
    margin-bottom: 70px
}

#div-premium {}

#quarta-secao #free {
    display: inline-block;
    margin-top: 15px;
    font-size: 1.2em
}

#quarta-secao #premium {
    font-size: 1.2em
}

#quarta-secao p#legenda {
    margin-top: 70px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.75em;
    text-align: center
}

#quarta-secao p#legenda a {
    text-decoration: underline;
    color: #9bf0e1
}

#quarta-secao p#legenda a:hover {
    color: #84C8BB
}

#android {
    position: absolute;
    left: 100px;
    height: 100%
}

footer {
    background: #000;
    color: #fff;
    padding: 30px 0 15px;
    font-weight: bold;
    letter-spacing: 0.6px;
    font-size: 0.9em
}

footer #listas-rodape ul {
    list-style-type: none;
    padding: 0
}

footer #listas-rodape ul li {
    margin: 20px 0
}

footer #listas-rodape h5 {
    opacity: 0.6;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1.2px
}

footer a:hover {
    text-decoration: none
}

footer #footer-icones {
    margin-top: 30px
}

footer #footer-icones a img {
    height: 26px
}

footer #footer-icones a {
    display: inline-block;
    background: #464646;
    padding: 10px;
    border-radius: 50px;
    margin: 0 5px;
    transition: 0.4s
}

footer #footer-icones a:hover {
    background: #9bf0e1ad;
    transition: 0.4s
}

#termos {
    margin-top: 44px
}

#termos .navbar div {
    text-align: right
}

#termos .navbar div a {
    display: inline-block
}

#termos .navbar {
    font-size: 0.6em;
    font-weight: normal;
    color: #BEBEBE;
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

#termos .navbar a {
    color: #BEBEBE
}

#termos .navbar a:hover {
    color: #9bf0e1
}